

.bannar-title-word{
    background-image: url(./Image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 100px 50px;
    background-position: center top;
    color: tomato;
    text-transform: capitalize;
    font-size: larger;
    
}

.header-bannar-section{
    background-image: url(./Image/angular.svg), url(./Image/uk.svg), url(./Image/science.svg),url(./Image/figma.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top right, center center, bottom left, top center;
    background-size: 100px 100px, 50px 50px, 80px 80px , 80px 80px;
    
}


.bannar-secation-profile{
    background-image: url(./Image/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 800px 800px;
}


/* <!-- overview impration of we website section  --> */

.over-view-icon{
    font-size: 80px;
}

.over-view-text{
    font-size: 18px;
}


/* card section  */
.star-filled{
    color: #F7C32E;
}

.heart-filled{
    color: #D6293E;
}
.time-filled{
    color: orange;
}


/* instructor-background  */

.instructor-bg{
    background-image: url(./Image/bg-image/05.png);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-color: rgb(99, 97, 97);
    
}